@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #732514;
  --primary: #F25A38;
  --primary-dark: #732514;
  --secondary: #F29057;
  --accent: #F2B988;
  --lavender: #ABA0F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
}

body {
  background: linear-gradient(to bottom, #ffffff, #F2B988);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}
